<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add to the Collection!</h1>
    <form class="" action="/addNew" method="post">
      <div class="">
        <label for="band">Band Name:</label>
        <input type="text" name="band" value="">
      </div>
      <div class="">
        <label for="albumTitle">Album Title:</label>
        <input type="text" name="albumTitle" value="">
      </div>
      <div class="">
        <label for="albumArt">Album Art URL:</label>
        <input type="text" name="albumCover" value="">

      </div>
      <div class="">
        <label for="year">Release Year</label>
        <input type="text" name="year" value="">

      </div>
      <div class="">
        <label for="label">Label:</label>
        <input type="text" name="label" value="">

      </div>
      <div class="">
        <label for="genreTag">Genre Tags:</label>
        <input type="text" name="genreTag" value="">

      </div>
      <div class="">
        <label for="speed">Vinyl Speed:</label>
        <input type="text" name="speed" value="">

      </div>
      <div class="">
        <label for="size">Record Size:</label>
        <input type="text" name="size" value="">

      </div>
      <div class="">
        <label for="pressing">Pressing:</label>
        <input type="text" name="pressing" value="">
      </div>
      <button type="submit" name="button">Thanks!</button>



    </form>
  </body>
</html>
